<div class="p-6">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-2xl font-bold">Features</h2>
    <button 
      class="btn btn-primary btn-sm"
      hx-get="/web/fragments/projects/{{ .ProjectID }}/features/new"
      hx-target="#new-feature-form-container"
      hx-swap="innerHTML"
    >
      Add Feature
    </button>
  </div>
  <div id="new-feature-form-container"></div>

  <div id="feature-list-container">
    {{ template "feature-list-inner.html" . }}
  </div>
</div> 