<form 
  hx-post="/web/features/{{ .FeatureID }}/tasks"
  hx-target="#task-list-container" 
  hx-swap="outerHTML" 
  class="card bg-base-200 shadow-md border border-primary mb-4">

  <div class="card-body p-4">
    
    <div class="flex justify-between items-center mb-2">
      <select name="TaskType" class="select select-bordered select-sm w-fit">
        <option disabled selected>Select Type</option>
        {{ range .TaskTypes }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
      </select>
      <div class="card-actions">
        <button type="submit" class="btn btn-sm btn-success">Save</button>
        <a hx-get="/web/tasks/cancel" hx-target="#new-task-form-container" hx-swap="innerHTML" class="btn btn-sm btn-ghost">Cancel</a>
      </div>
    </div>

    <div>
      <input type="text" name="TaskName" placeholder="Enter a task name..." class="input input-ghost w-full font-bold p-0 text-lg" required />
      <textarea name="Description" class="textarea textarea-ghost w-full p-0 mt-1" placeholder="Enter a description..."></textarea>
    </div>

  </div>
</form> 